<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>postalservermine</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/data/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>servlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/data/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>servlet.AddFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/data/AddFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPostalItem</servlet-name>
    <servlet-class>servlet.AddPostalItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostalItem</servlet-name>
    <url-pattern>/data/AddPostalItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllFriendsData</servlet-name>
    <servlet-class>servlet.GetAllFriendsData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllFriendsData</servlet-name>
    <url-pattern>/data/GetAllFriendsData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPostalItem</servlet-name>
    <servlet-class>servlet.GetPostalItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostalItem</servlet-name>
    <url-pattern>/data/GetPostalItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllUser</servlet-name>
    <servlet-class>servlet.GetAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUser</servlet-name>
    <url-pattern>/data/GetAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserInformation</servlet-name>
    <servlet-class>servlet.UpdateUserInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInformation</servlet-name>
    <url-pattern>/data/UpdateUserInformation</url-pattern>
  </servlet-mapping>
  
   <servlet>
 <servlet-name>OkServletUp</servlet-name>
    <servlet-class>servlet.okservletup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OkServletUp</servlet-name>
    <url-pattern>/data/OkServletUp</url-pattern>
  </servlet-mapping>
</web-app>